:root {
  /* --color-principal: #800020; */
  /* --color-secundario: #F5F0E1; */
  --color-principal-claro: #a02040;
  --color-terciario: #2D2D2D;
  --color-detalle: #D4AF37;
  
  --color-principal: #0A2540;
  --color-secundario: #F4F4F4;

}

html, body {
  height: 100%;
  display: flex;
  font-family:  "Open Sans", sans-serif; 
  flex-direction: column;
}

.btn,
.btn * {  /* con * también afecta al <i> adentro del botón */
  font-family: system-ui, sans-serif; /* hereda lo que Bootstrap define por defecto */
}

main {
  flex-grow: 1;          /* el main se estira para ocupar el espacio libre */
}

h1 {
  margin-bottom: 2rem;
}

.orange {
  height: 4.5rem;
  background-color: var(--color-secundario);
  /* padding-left: 10rem;
  padding-right: 10rem; */
}

.link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* centra verticalmente el contenido dentro del <a> */
  text-decoration: none;    /* opcional, para sacar subrayado */
  color: inherit;           /* opcional, para heredar color */
}

.orange p {
margin-bottom: 0;
}

.titulo-card {
  color: var(--color-principal);
  
}

.nav {
  background-color: var(--color-principal);
}

a {
  text-decoration: none;
}

.menu{
  color: var(--color-detalle);
}

.telefono {
  margin-top: 0.7rem;
}

.boton-bg-bordo {
  background-color: var(--color-principal);
  color: white;
  border: 1px solid var(--color-principal); /* borde definido desde el inicio */
  transition: all 0.3s ease;
}

.boton-bg-bordo:hover {
  background-color: var(--color-principal-claro); /* un tono más claro */
  transform: scale(1.05); /* agrandar levemente */
  border: 1px solid var(--color-principal);
}

.boton-linea-bordo {
  background-color: #ffffff;
  color: var(--color-principal);
  border: 1px solid var(--color-principal); /* borde fijo */
  transition: all 0.3s ease;
}

.boton-linea-bordo:hover {
  background-color: var(--color-principal); /* fondo bordó */
  color: white; /* texto blanco */
  transform: scale(1.05); /* agrandar levemente */
  border: 1px solid var(--color-principal); /* mantiene grosor, solo color cambia */
}

/* Estilos para el footer */
footer {
  background-color: var(--color-terciario);
  /* color: white; */
  padding: 2rem 0;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

.hover-card {
  transition: transform 0.5s ease;
}

/* Efecto de sombreado en hover-card */
.hover-card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
